In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("Medicaldataset.csv")
df.info

<bound method DataFrame.info of      Age  Gender  Heart rate  Systolic blood pressure  \
0     64  Female        66.0                    160.0
1     21  Female        94.0                     98.0
2     55  Female        64.0                    160.0
3     64  Female        70.0                    120.0
4     55  Female        64.0                    112.0
..   ...     ...         ...                      ...
994   48  Female        61.0                    112.0
995   32  Female        40.0                    179.0
996   63    Male        60.0                    214.0
997   86  Female        60.0                    154.0
998   40    Male        61.0                    160.0

     Diastolic blood pressure  Blood sugar   CK-MB  Troponin    Result
0                        83.0        160.0    1.80     0.012  negative
1                        46.0        296.0    6.75     1.060  positive
2                         NaN        270.0    1.99     0.003  negative
3                        55.0        270.0   13.87     0.122  positive
4                        65.0        300.0    1.08     0.003  negative
..                        ...          ...     ...       ...       ...
994                      58.0        101.0   31.85     0.012  positive
995                      68.0        167.0    9.63     0.004  positive
996                      82.0         85.0    1.21     0.003  negative
997                      81.0        112.0  300.00     1.790  positive
998                      95.0        123.0   11.87     0.030  positive

[999 rows x 9 columns]>

In [6]:
df.isnull().sum()
df.fillna(df.mean(numeric_only=True),inplace=True)
df.info
df.isnull().sum()

Age                         0
Gender                      0
Heart rate                  0
Systolic blood pressure     0
Diastolic blood pressure    0
Blood sugar                 0
CK-MB                       0
Troponin                    0
Result                      0
dtype: int64

In [11]:
df.replace({['male']:0,['female']:1})
df.info

TypeError: unhashable type: 'list'

In [ ]:
array=np.array([[]])
array.reshape(2*8)

In [9]:
newDf=df.copy()
newDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       999 non-null    int64
 1   Gender                    999 non-null    object
 2   Heart rate                999 non-null    float64
 3   Systolic blood pressure   999 non-null    float64
 4   Diastolic blood pressure  999 non-null    float64
 5   Blood sugar               999 non-null    float64
 6   CK-MB                     999 non-null    float64
 7   Troponin                  999 non-null    float64
 8   Result                    999 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 70.4+ KB